<ng-container *ngIf="popularMovies$ | async as popularMovies">
  <app-slider [slides]="popularMovies"></app-slider>
</ng-container>

<ng-container  *ngIf="upcomingMovies$ | async as upcomingMovies">
  <app-banner
    [title]="'Upcoming Movies'" 
    [shows]="upcomingMovies"
    showType="movie"
  ></app-banner>
</ng-container>

<ng-container  *ngIf="topRatedMovies$ | async as topRatedMovies">
  <app-banner
    [title]="'Top Rated Movies'" 
    [shows]="topRatedMovies"
    showType="movie"
  ></app-banner>
</ng-container>

<ng-container  *ngIf="popularTVShows$ | async as popularTVShows">
  <app-banner
    [title]="'Popular TV Shows'" 
    [shows]="popularTVShows"
    showType="tv"
  ></app-banner>
</ng-container>
